* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header {
    height: 80px;
    width: 70%;
    background-color: goldenrod;
    border-radius: 3px;
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.header .logo {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
}

.fa-solid {
    color: goldenrod;
}

.cart p {
    height: 22px;
    width: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: goldenrod;
    color: white;
}

.container {
    display: flex;
    width: 70%;
    margin-bottom: 30px;
    justify-content: space-between;
}

.cart-summary {
    width: 60%;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
}

.head {
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #333;
}

.checkout-form {
    width: 35%;
    border-radius: 5px;
    background-color: #eee;
    padding: 15px;
}

.form-head {
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: goldenrod;
    padding: 10px;
    cursor: pointer;
    color: white;
}

button:hover {
    background-color: #333;
}

.checkout-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    vertical-align: middle;  /* Ensure all items are vertically centered */
}

.image-column img {
    width: 50px;   /* Adjust the width as needed */
    height: auto;  /* Maintain aspect ratio */
}

.title-column {
    text-align: left;
    padding-left: 10px;
}

.price-column {
    text-align: right;
    padding-right: 10px;
}

